.timekeeping-region {position:fixed; top:60px; bottom:0; left:0; right:0; z-index:10; overflow:auto}

.timesheetdetails-options {position:relative}
.timesheets-options ul,
.timesheetdetails-options ul {margin:0; padding:0; display:inline-block}
.timesheets-options li,
.timesheetdetails-options li {display:inline-block}
.timesheets-options input[type=text] {width:85px; height:40px; position:relative; top:1px}

.timesheet-table,
.timesheetdetails-table {max-height:300px; overflow:auto; margin-top:15px}

@media (min-width: 768px) {
    .timekeeping-region {top:50px; overflow:auto}

    .timesheetdetails-options {position:absolute; bottom:15px; left:0; right:0}
    .timesheetdetails-options ul.exit-option {position:absolute; top:0; right:10px}
}



